#custom-blog-card-image{
    height: 150px;
    width: 150px;
    object-fit: contain;
}

#blog-card{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    background-color: white;
    height: 175px;
}

#blog-body{
    overflow: auto;
}

#blog-main-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#blog-short-description{
    color: rgb(142, 150, 156);

}

#blog-modifed{
    color: gray;
}

#blog-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media only screen and (min-width: 750px) {
    #blog-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #blog-container{
        margin: 0 40px;
        width: 50%;    
    }
}