body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#root {
    width: 80vw;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    border: 1px solid blueviolet;
}

#navbar{
    width: 100%;
}

.rounded-image {
    border-radius: 50%;
}

.navbar-brand {
    margin-left: 1rem;
}


#product-list {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



#custom-product-card-image {
    height: 180px;
    width: 100%;
    object-fit: contain;
}

#custom-card-title {
    height: 50px;
    overflow: auto;
    color: purple;
}

#produc-pricing{
    display: flex;
    flex-direction: column;
}

#product-offer-and-price{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

#product-percentage{
    color: red;
}

#product-final-rate{
    color: green;
}

#product-actual-rate{
    color: #565959;
    font-size: 15px;
}

    