body {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
}

#root {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    /* border: 1px solid blueviolet; */
}


#navbar{
    width: 100%;
}

.rounded-image {
    border-radius: 50%;
}

.navbar-brand {
    margin-left: 1rem;
}


#product-list {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    /* column-gap: 10px;
    row-gap: 10px; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}


#custom-product-card-image {
    height: 180px;
    width: 100%;
    object-fit: contain;
}

#custom-card-title {
    height: 50px;
    overflow: auto;
    color: purple;
}

#produc-pricing{
    display: flex;
    flex-direction: column;
}

#product-offer-and-price{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

#product-percentage{
    color: red;
}

#product-final-rate{
    color: green;
}

#product-actual-rate{
    color: #565959;
    font-size: 15px;
}

    
.privacy-page{
    margin: 0 40px;
    width: 50%;
}

.privacy-page > .title{
    margin: 10px 30px;
    margin-bottom: 20px;
    border-bottom: double;
    padding-bottom: 15px;
}

.privacy-page > .content{
    margin: 25px 0 0 40px;
}

.privacy-page > .container{
    margin: 25px 0 0 40px;
}


.about-page{
    margin: 0 40px;
    width: 50%;
}

.about-page > .container{
    margin: 25px 0 0 30px;
    margin-top: 20px;
}

.about-page > .title{
    margin: 10px 40px;
    margin-bottom: 20px;
    border-bottom: double;
    padding-bottom: 15px;
}

.contact-page{
    margin: 0 40px;
    width: 50%;
}

.contact-page > .title{
    margin: 10px 40px;
    margin-bottom: 20px;
    border-bottom: double;
    padding-bottom: 15px;
}

.contact-page > .container{
    margin: 25px 0 0 30px;
    margin-top: 20px;
}

#faq-page-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#faq-page-home > .paginator{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1050px) {
    .contact-page, .about-page, .privacy-page{
        width: 80%;
    }
}
